body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  color: #333;
}
.title {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-4 {
  flex: 0 0 33.3333%; 
  max-width: 33.3333%;
}

.col-sm-8 {
  flex: 0 0 66.6666%; 
  max-width: 66.6666%;
}

.form-container {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.form-check-input {
  margin-right: 5px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.product-table th {
  background-color: #007bff;
  color: #fff;
}

.product-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.product-table tbody tr:hover {
  background-color: #ddd;
}

.alert-danger {
  color: #ff0000;
}

.alert-success {
  color: #04aa6d
}

@media (max-width: 767px) {
  .col-12, .col-sm-4, .col-sm-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}